TASMVIEW BITMAP "tasmview.bmp"
TDUMPVIEW BITMAP "tdumpview.bmp"
TREGVIEW BITMAP "tregview.bmp"
TSTACKVIEW BITMAP "tstackview.bmp"
TEDITVIEW BITMAP "teditview.bmp"
TCALLPARAMVIEW BITMAP "tcallparamview.bmp"